* {
    margin: 0%;
    padding: 0%;
    /* box-sizing: border-box; */
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

#particles-js {




    background-image: url(avatar.jpg);
    background-size: cover;
    overflow: hidden;
    height: 100vh;


}

nav {

    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;



}

nav.black {
    background: rgb(246, 245, 245);
    height: 4rem;
}


.logo {
    font-family: cursive;
    padding-left: 2.5rem;
    color: rgb(54, 235, 27);

}

.spanlogo {
     color: rgb(240, 18, 62); 
     font-weight: bold;
 
}

nav ul li {
    display: inline-block;
    padding: 2.5rem;

}

nav ul li a {

    text-decoration: none;
    font-family: cursive;
    font-weight: bold;

}


nav ul li a:hover {
    color: green;
    transition: .3s;
    text-transform: uppercase;
    cursor: pointer;

}


.btn {
    width: 2.5rem;
    margin-right: 10rem;

    background: transparent;
}

.btn:hover {
    transform: scale(1.1);
    cursor: pointer;
    background: rgb(47, 231, 81);
    border: none;

}

.wrap {
    position: relative;
    top: 9rem;
     
    font-weight: bold;
    text-align: center;
    
    

}

.demo {
    position: relative;
    top: 17rem;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;

}

.type {


    font-size: 5rem;
    color: rgb(10, 0, 0);
}

.cont {
    /* background-color:rgb(24, 229, 232); */
    height: 110vh;

}
.cont1 {
    background-color:red;
    height: 80vh;

}






.btn1 {
    margin-right: 4rem;
    background: none;
    position: relative;
    top: 21rem;
    left: 45rem;
    text-decoration: none;

    color: rgb(13, 240, 130);
    border: .2rem solid green;
    padding: .8rem 1.8rem;
    border-radius: 3.0rem;
    font-family: cursive;
    font-weight: 70;
    
}

.btn2 {
  
    animation: glow 2s linear infinite;
    color: white;
    text-transform: uppercase;
}

@keyframes glow{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%{color:#b7e6f3;
        text-shadow: none;
    }
    5%,11%,30.1%,100%{color:#fff;
        text-shadow: 0 0 1rem #2d9ab0,
                     0 0 2rem #00d4ff,
                     0 0 3rem #00d4ff, 
                     0 0 4rem #00d4ff,
                     0 0 5rem #00d4ff;
    }
   
}

.btn1:hover {
    transform: scale(1.1);
    cursor: pointer;
    background: rgb(231, 47, 81);
    border: none;

}




#sec1{
    padding-top: 6rem;
  
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Rancho&family=Water+Brush&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}
.skills_section {
    padding: 4rem;
    top:6rem;
    width: 50%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
/****************************************************/

.container {
    width: 100rem;
     height: auto; 
     padding: 2rem; 
    border-radius: 1.4rem;
    box-shadow: .2rem 1.4rem 4.5rem rgba(0, 0, 0, 0.082);
    backdrop-filter: blur(6rem);
}


.circle {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    position: absolute;
    filter: blur(.5rem);
}
.circle_1 {
    top: 8%;
    right: 13%;
    background: linear-gradient(to right, #ffff00 0%, #ff6600 100%);
}
.circle_2 {
    bottom: 6%;
    left: 14%;
    background: linear-gradient(to right, #090979 0%, #00d4ff 100%);
}
.container .skills_head {
    width: 100%;
    margin-bottom: 8rem;
    text-align: center;
}
.skills_head h2 {
    font-size: 2.7rem;
}
.skills_head h2 span {
    color: #ff6600;
}
.skills_head p {
    font-size: 1.7rem;
    opacity: .8;
    font-weight: 50;
}
.skills_main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3.8rem;
    grid-column-gap: 6rem;
}
.skill_bar .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
.skill_bar .info p {
    font-size: 1.9rem;
    font-weight: 50;
    opacity: .8;
}
.skill_bar .bar {
    width: 100%;
    height: 1.4rem;
    background-color: rgba(0, 0, 0, 0.17);
    border-radius: 2.5rem;
    margin-top: .5rem;
    box-shadow: .2rem .2rem .3rem rgba(0, 0, 0, 0.11);
    position: relative;
}
.skill_bar .bar span {
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 2.5rem;
    background: linear-gradient(to bottom, #ffff00 0%, #ff6600 100%);
}
.skill_bar .bar .java {
    width: 90%;
    animation: java 3s;
}
@keyframes java {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}
.skill_bar .bar .jdbc {
    width: 70%;
    animation: jdbc 3s;
}
@keyframes jdbc {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}
.skill_bar .bar .sql {
    width: 80%;
    animation: sql 3s;
}
@keyframes sql {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}
.skill_bar .bar .html {
    width: 80%;
    animation: html 3s;
}
@keyframes html {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}
.skill_bar .bar .css {
    width: 80%;
    animation: css 3s;
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.skill_bar .bar .js {
    width: 70%;
    animation: js 3s;
}

@keyframes js {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

.skill_bar .bar .angular {
    width: 50%;
    animation: angular 3s;
}

@keyframes angular {
    0% {
        width: 0%;
    }
    100% {  width: 50%;  }
}
.skill_bar .bar .rjs {
    width: 50%;
    animation: rjs 3s;
}
@keyframes rjs {
    0% {
        width: 0%;
    }
    100% {  width: 50%;  }
}




/* ////////////////////// */



.container1 {

    width: 50rem;
    height: auto; 
    padding: 2rem; 
   border-radius: 1.4rem;
   box-shadow: .2rem 1.4rem 4.5rem rgba(0, 0, 0, 0.082);
   backdrop-filter: blur(6rem);
   position: relative;
   top: -31rem;
   float: right;

   
    
}
.circles {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    position: absolute;
    filter: blur(7rem);
}
.circle_3 {
    top: 20%;
    right: 13%;
    background: linear-gradient(to right, #ffff00 0%, #ff6600 100%);
}


.circle_4 {
    bottom: 6%;
    left: 14%;
    background: linear-gradient(to right, #090979 0%, #00d4ff 100%);
}
.conts{
    backdrop-filter: blur(1rem);  
    
}

.container1 .skills_head {
    padding: 2rem;
    width: 100%;
    
    text-align: center;
    

}


#bars {
	margin: 2em auto;
	max-width: 96rem;
	overflow: hidden;
}

.bar1 {
	float: left;
	width: 20%;
	text-align: center;
    margin: 3rem;
    margin-top: 1rem;
    font-weight: bold;
}

.bar1 h3 {
	font-size: 0.07em;
	font-weight: bold;
	margin: 0;
	text-transform: uppercase;
    
  background: -webkit-linear-gradient(rgb(244, 174, 174), rgb(91, 170, 122));
 
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.bar1-circle {
	display: block;
	margin: 0.07em auto;
}

/*************************************************************/


.cont2 {
    background-color:"#ffffff";
     height: 125vh; 
    width: 100%;
    padding: 4.2rem;

   

}
.qual{
    font-weight: bold;
    color: orange;
   

 margin: 2rem;
 margin-left: 32rem;
 position: relative;
 left: 6.2rem;
}





.container3 {
    width: 15rem;
     height: 17rem; 
     padding: .8rem; 
    border-radius: 1.4rem;
    box-shadow: .2rem 1.4rem 4.5rem rgba(0, 0, 0, 0.082);
    backdrop-filter: blur(6rem);
    position: absolute;
    float: right;
    margin-left: 10rem;
}

.container4 {
    width: 15rem;
     height: 17rem; 
     padding: .8rem; 
    border-radius: 1.4rem;
    box-shadow: .2rem 1.4rem 4.5rem rgba(0, 0, 0, 0.082);
    backdrop-filter: blur(6rem);
    position: absolute;
    float: right;
    margin-left: 40rem;
}


.container5 {
    width: 15rem;
     height: 17rem; 
     padding: .8rem; 
    border-radius: 1.4rem;
    box-shadow: .2rem 1.4rem 4.5rem rgba(0, 0, 0, 0.082);
    backdrop-filter: blur(6rem);

 position: absolute;
    float: right;
    margin-left: 70rem;
  
}

.schl{
    margin-top: 2rem;
  
}

.schl h1{
    margin-bottom: 2rem;
    width: 15rem;
}
.schstyle{
    font-size: 1.5rem;
    width: 15rem;
}


/******************************************************/




   
.cont3 {
    background-color: gold;
    height: 120vh;
    padding: 4.2rem;
    overflow: hidden; 
    background: #4b6d8c;
    font-family: 'Fira Mono', monospace;
    -webkit-font-smoothing: antialiased;
    font-size: .88rem;
    color: #bdbdd5;

}

.proj{
    text-align: center;
    font-size: 2.5rem;
    color: deeppink;
}
  .content-width {
    width: 86%;
    height: 100vh;
    margin: 0 auto;
  }
  
  .slideshow {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .slideshow-items {
    position: relative;
    width: 100%;
    height: 300px;
  }
  
  .item {
    position: absolute;
    width: 100%;
    height: auto;
  }
  
  .item-image-container {
    position: relative;
    width: 42%;
  }
  
  .item-image-container::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 101%;
    height: 101%;
    background: #22222A;
    opacity: 0;
    z-index: 1;
  }
  
  .item-image {
    position: relative;
    width: 100%;
    height: auto;
    opacity: 0;
    display: block;
    /* transition: property name | duration | timing-function | delay  */
    transition: opacity .3s ease-out .45s;
  }
  
  .item.active .item-image {
    opacity: 1;
  }
  
  .item.active .item-image-container::before {
    opacity: 0;
  }
  
  .item-description {
    position: absolute;
    top: 100px;
    right: 0;
    width: 50%;
    /* padding-right: 4%; */
    line-height: 1.8;
    font-size: 1.5rem;
  }
  
  /* Staggered Vertical Items ------------------------------------------------------*/
  .item-header {
    position: absolute;
    top: 150px;
    left: -1.8%;
    z-index: 100;
  }
  
  .item-header .vertical-part {
    margin: 0 -4px;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: auto;
    font-size: 7vw;
    color: #fff;
  }
  
  .vertical-part {
    overflow: hidden;
    display: inline-block;
  }
  
  .vertical-part b {
    display: inline-block;
    transform: translateY(100%);
  }
  
  .item-header .vertical-part b {
    transition: .5s;
  }
  
  .item-description .vertical-part b {
    transition: .21s;
  }
  
  .item.active .item-header .vertical-part b {
    transform: translateY(0);
  }
  
  .item.active .item-description .vertical-part b {
    transform: translateY(0);
  }
  
  /* Controls ----------------------------------------------------------------------*/
  .controls {
    position: relative;
    text-align: right;
    z-index: 1000;
  }
  
  .controls ul {
    list-style: none;
  }
  
  .controls ul li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 3px;
    background:#bdbdd5;;
    cursor: pointer;
  }
  
  .controls ul li.active {
    background:#6a6a77;;
  }




@media(max-width:998px){
    html{
        font-size: 55%;
    }
}

@media(max-width:850px){
    html{
        font-size: 50%;
    }
}

@media(max-width:768px){
    html{
        font-size: 45%;
    }
}



@media(max-width:700px){
    html{
        font-size: 40%;
    }
}


@media(max-width:650px){
    html{
        font-size: 35%;
    }
}

@media(max-width:620px){
    html{
        font-size: 32%;
    }
}

    